.menu {
  overflow-x: hidden !important;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  justify-content: center;
  background: #ef652220;
  backdrop-filter: blur(10px);
  height: 100vh;
  text-align: center;
  padding: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
  width: 100vw;
  z-index: 100;
}

.menu a {
  font-size: 1.4rem;
  padding: 1rem 0;
  font-weight: bold;
  letter-spacing: 0.3rem;
  color: #222222;
  text-decoration: none;
  transition: color 0.4s linear;

}

.menu a:hover {
  color: #ef6522;

}